body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0b1d2a;
  color: white;
  font-family: Arial;
}

.title {
  font-size: 36px;
  margin-bottom: 30px;
}

#slot {
  width: 500px;
  height: 90px;
  overflow: hidden;
  border: 4px solid #00A6A6;
  border-radius: 10px;
  margin-bottom: 20px;
  background: #000;
}

#names {
  position: relative;
}

.name {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

button {
  padding: 14px 40px;
  font-size: 22px;
  cursor: pointer;
  background: #00A6A6;
  border: none;
  color: white;
  border-radius: 8px;
}

#winner {
  margin-top: 20px;
  font-size: 34px;
  color: #FFD700;
}
